/**
* Reset some basic elements
*/
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

a{
	text-decoration: none;
	color: inherit;
	&:hover{
		color: $hover-color;
	}
}

/**
* Basic styling
*/
html{
	background-color: $html-background-color;
}
body {
	font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
	color: $text-color;
	background-color: $body-background-color;
	-webkit-text-size-adjust: 100%;
	-webkit-font-feature-settings: "kern" 1;
	-moz-font-feature-settings: "kern" 1;
	-o-font-feature-settings: "kern" 1;
	font-feature-settings: "kern" 1;
	font-kerning: normal;
	width: 1200px;
	margin: 0 auto;
	-moz-border-radius-bottomleft: 0.4em;
  -webkit-border-bottom-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  -moz-border-radius-bottomright: 0.4em;
  -webkit-border-bottom-right-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
}

/**
* Set `margin-bottom` to maintain vertical rhythm
*/

%vertical-rhythm {
	margin-bottom: $spacing-unit / 2;
}

/**
* Images
*/
img {
	max-width: 100%;
	vertical-align: middle;
}

/**
* Figures
*/
figure > img {
	display: block;
}

figcaption {
	font-size: $small-font-size;
}

/**
* Lists
*/

/**
* Blockquotes
*/
blockquote {
	color: $grey-color;
	border-left: 4px solid $grey-color-light;
	padding-left: $spacing-unit / 2;
	font-size: 18px;
	letter-spacing: -1px;
	font-style: italic;

	> :last-child {
		margin-bottom: 0;
	}
}

/**
* Code formatting
*/

pre {
	overflow-x: auto;
	color: #ccc;
	background: #1d1f21;
	padding: 0;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	-ms-word-break: normal;
	word-break: normal;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	position: relative;
	line-height: 28px;
	border-radius: 10px;
	margin: 1em 0;

	> code {
		font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
    font-size: 0.9rem;
    background: none;
    padding: 15px;
    white-space: pre;
    overflow: auto;
    display: block;
	}
}

code.highlighter-rouge {
	font-size: 85%;
	padding: 3px 8px;
	color: #5c666f;
	background: #eef0f1;
}

/**
* Clearfix
*/
%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

/**
* Icons
*/
.icon {
	> svg {
		display: inline-block;
		width: 16px;
		height: 16px;
		vertical-align: middle;
		path {
			fill: $grey-color;
		}
	}
}

body{
	& > *{
		padding-left: 2.5em;
		padding-right: 2.5em;
	}
}
