.site-logo{
  float: left;
  margin: 1em 1em 1em 0;
  .site-title{
    font-size: 1em;
    color: #000;
    font-weight: 500;
  }
  p{
    font-size: .8em;
    margin-top: .5em;
    color: #aaa;
    clear: both;
  }
}

.site-nav{
  float: right;
}
