.site-header{
  padding: 2em 2.5em;
  background: #333;
  h1{
    font-size: 2em;
    color: #fff;
    line-height: 1.2em;
    font-weight: normal;
  }
  h2{
    color: #aaa;
    font-size: 1.2em;
    margin-top: .2em;
    font-weight: normal;
  }
}

nav{
  background: linear-gradient(#e0e0e0,#cccccc,#b0b0b0);
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #8c8c8c;
  padding-top: .35em;
  padding-bottom: .35em;
  color: #ccc;
  a{
    color: #751590;
    margin-right: 0.8em;
    &:hover{
      color: darken(#751590, 30%);
    }
    &.rss{
      float: right;
    }
  }
}