.page-content{
	padding-top: 2em;
	.post-list{
		li{
			&:first-child{
				background: none;
				padding-top: 0;
			}
			padding-top: 1em;
			padding-bottom: 1em;
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC) left top repeat-x;
		}
		.post-title{
			color: #111;
			font-size: 1.3em;
			font-weight: normal;
		}
		.post-meta{
			color: #aaa;
			font-size: 1em
		}
	}
	.post-digest{
		h2, h3, h4{
			font-size: 1em;
			font-weight: normal;
		}
	}
}